<p>app1 works!</p>
<nav style="background-color: #6786a1;">
    <div class="ui container" style="display: flex;justify-content: space-between;">

        <div class="sub_menu">
            <ul>
                <li>
                    <a [routerLink]="['/app2']">APP2</a>
                </li>
                <li>
                    <a [routerLink]="['/app3']">APP3</a>
                </li>

                <li>
                    <a [routerLink]="['/app4']">APP4</a>
                </li>
               



            </ul>
        </div>
    </div>
</nav>

