<style>
    .carousel-inner img {
    width: 100%;
    height: auto;
    }
    .carousel-container {
    width: 1000px;
    margin: auto;
    height: auto;
    }

</style>
<p>caroussel works!</p>
    <!-- Carousel -->
    <div class="carousel-container">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://museesmontreal.org/storage/museum-gallery-images/88/JBM018230Crdit-Espace-pour-la-vie-Martine-Larose.jpg"
                class="d-block w-100"
                alt="Slide 1"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Première diapositive</h5>
                <p>Fleurs de cerisier</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://museesmontreal.org/storage/museum-gallery-images/89/JBM017382Crdit-Espace-pour-la-vie-Martine-Larose-1.jpg"
                class="d-block w-100"
                alt="Slide 2"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Deuxième diapositive</h5>
                <p>Jardin botanique de Montréal</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://museesmontreal.org/storage/museum-gallery-images/87/JBM029726Crdit-Espace-pour-la-vie-Claude-Lafond-1.jpg"
                class="d-block w-100"
                alt="Slide 3"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Troisième diapositive</h5>
                <p>Jardin botanique de Montréal</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://museesmontreal.org/storage/museum-gallery-images/86/JBM032260Crdit-Espace-pour-la-vie-Andr-Sarrazin.jpg"
                class="d-block w-100"
                alt="Slide 4"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Quatrième diapositive</h5>
                <p>Jardin botanique de Montréal</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://museesmontreal.org/storage/museum-gallery-images/85/JBM032974Crdit-Espace-pour-la-vie-Andr-Sarrazin-2-1.jpg"
                class="d-block w-100"
                alt="Slide 5"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Cinquième diapositive</h5>
                <p>Jardin botanique de Montréal</p>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
          </a>
        </div>
      </div>
    